body{
    margin: 0px;
}

.title {
    padding-left: 40px;
    border-right: 1px solid black;
}
.title p{
    margin: 0px;
    font-size: 30px;
    padding: 12px;
}
.sidebar{
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

.sidebar a{
    text-decoration: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: block;
    padding: 14px;
    color: black;
    padding-left: 40px;
}


main{
    margin-left: 20%;
    padding: 20px;
}

header {
    font-size: 30px;
    margin-top: 10px;
}

.main-section p{
    margin-left: 20px;
    font-size: 15px;
}

li {
    margin-left: 10px;
    padding: 3px;
}

code {
    background-color: grey;
    display: block;
    padding: 20px;
    margin-left: 3%;
    border-radius: 5px;
}